body {
    margin: 0;
    min-height: 101vh;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.admin{
    color:red;
    text-align: center;
}

#imagenbuy{
    max-height: 400px;
    max-width: 400px;
}

.price {
    font-weight: bold;
    font-size: 20px;
}

/* CARDS */
.texto_card{
    padding:10px;
    text-align: center;
}

.card img {
    max-height: 170px;
    max-width: 170px;
}

.ver_mas{
    color:red;
    padding:10px;
    text-decoration: underline  red;
    font-size: large;
}

.imagenLogo{
    max-height: 100px;
    color:red
}

.stock{
    color:green;
}

.nostock{
    color:red;
}

.navbar-letra{
    font-size: 20px;
}
 
/* Footer */
footer {
    background: white;
}

footer div {
    color: #4b4b4b;
    text-decoration: none;
}

footer h5 {
    color:black
}

.footerNumEmail {
    color: red;
}

.footerNumEmail:hover {
    color: #b30000;
}

footer a {
    color:#4b4b4b
}

footer a:hover {
    color:black;
    text-decoration: none;
}
/* FIN Footer */